In [589]:
import mysql.connector as mariadb
import pandas as pd 
import sys 
sys.path.insert(0, "/Users/anis/test_labnbook/test_3_indicateurs/traces_contribution/sources")
import config 
import numpy as np 

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 100)

In [590]:
# Créer un nouveau fichier cvs et xlsx des deux indicateur 
data= pd.read_csv("/Users/anis/test_labnbook/test_3_indicateurs/traces_collaboration_Anis/tmp/collab_Anis.csv")
contrib= pd.read_csv("/Users/anis/test_labnbook/test_3_indicateurs/traces_contribution/tmp/Contribution.csv")['indice_collab']
data.insert(7,'indice_contrib', contrib)
# Garder que la dérniére trace de chaque labdoc
idx_labdocs = data['id_labdoc'].diff()[data['id_labdoc'].diff() != 0].index.values
idx_labdocs = np.delete(idx_labdocs, 0) - 1
data = data[data.index.isin(idx_labdocs)]
# Sauvegarder la table 
data.to_excel("/Users/anis/test_labnbook/test_3_indicateurs/comparaison/comparaison.xlsx")
data.to_csv("/Users/anis/test_labnbook/test_3_indicateurs/comparaison/comparaison.csv")

data.head()

    id_mission  id_report  id_labdoc  id_trace  n_users  n_mots  indice_collab  indice_contrib
1         1655      46912     457572   7998870        1     244            0.0             0.0
5         1655      46912     457573   7999307        1     272            0.0             0.0
7         1655      46912     457571   7961374        1     336            0.0             0.0
11        1655      46920     457562   8010069        1     465            0.0             0.0
15        1655      46920     457561   8007887        1     483            0.0             0.0