In [3]:
import sys
sys.path.insert(
    0, "/Users/anis/test_labnbook/test_3_indicateurs/traces_contribution/sources")
import numpy as np
import mysql.connector as mariadb
import pandas as pd


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 100)

user = "root"
password = "11950022"
host = "localhost"
database_name  = "Labnbook"

try:
    conn = mariadb.connect(user=user, password=password,
                           host=host, database=database_name)
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")

# Récupération du curseur
cursor = conn.cursor()

In [ ]:
# Importer les sorties des algo qui calculent nos indicateurs  
data = pd.read_csv(
    "/Users/anis/test_labnbook/test_3_indicateurs/traces_collaboration_Anis/tmp/collab_Anis.csv")
contrib = pd.read_csv(
    "/Users/anis/test_labnbook/test_3_indicateurs/traces_contribution/tmp/Contribution.csv")['indice_collab']
data.insert(7, 'indice_contrib', contrib)
# Garder que la dérniére trace de chaque labdoc
idx_labdocs = data['id_labdoc'].diff(
)[data['id_labdoc'].diff() != 0].index.values
idx_labdocs = np.delete(idx_labdocs, 0) - 1
data = data[data.index.isin(idx_labdocs)]


data = data.drop(data[data['n_users'] == 1].index).reset_index()
data = data.drop([ "id_mission", "id_report", "id_trace","index"], axis=1)
#display(data.info(),data.head())

In [5]:
# Je récupère  l'id_action =9  (trace de modification)  de tous les labdocs dans la table trace
trace = pd.read_sql(
    " SELECT id_labdoc, action_time from trace WHERE  id_action=9 Order By id_labdoc ASC, action_time ASC", conn)

/var/folders/qz/t1vzp79913l2sfbf0b3d9sdr0000gn/T/ipykernel_35635/1125335434.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  trace = pd.read_sql(

In [7]:
df2 = trace
size = df2.groupby(df2.id_labdoc,  as_index=False).size()

In [4]:
# Je fusionne trace et data avec l'intersection en id_labdoc pour avoir uniquement la trace des labdocs dont j'ai besoin 
df2 = pd.merge(data, trace, how='inner', on=['id_labdoc'])
#display(df2.head(),df2.info())

In [5]:
# Je récupére le nombre de trace modify de chaque labdoc 
size = df2.groupby(df2.id_labdoc,  as_index=False).size()
#size.head()

In [6]:
# Je rajoute ce nombre a la table 
df2 = pd.merge(df2, size, how='inner', on=['id_labdoc'])
#df2.head()

In [7]:
# Récupérer les index du changement de labdoc 
idx_time_change = df2['id_labdoc'].diff()[df2['id_labdoc'].diff() != 0].index.values

In [8]:
debut = df2.iloc[idx_time_change[:-1]].reset_index()
debut.drop(["index"],axis=1,inplace=True )
#debut

In [9]:
fin_idx = np.delete(idx_time_change - 1, 0)
fin = df2.iloc[fin_idx].reset_index()
fin.drop(["index"], axis=1, inplace=True)
#fin

In [10]:
fin["time"] = fin.action_time - debut.action_time
df = fin.drop(["action_time"], axis = 1)
df.columns = ["id_labdoc"	,"n_users",	"n_mots", "indice_collab", "indice_contrib", "n_modif", "duree"]
#df

In [11]:
df.duree = df.duree.dt.total_seconds()
#df.info()

In [12]:
# Je recupére encore une fois la table trace 
trace2 = pd.read_sql(
    " SELECT id_labdoc, id_user from trace WHERE  id_action=9 Order By id_labdoc ASC, action_time ASC", conn)

In [13]:
# Je merge la table des traces dans la bdd avec mon data frame pour garder que les labdocs qui m'intéressent 
trace_df_merge = pd.merge(df, trace2, how='inner', on=['id_labdoc'])

In [14]:
# Je calcule l'indice de coécriture 
indic_coec = []
for _, id in enumerate(trace_df_merge["id_labdoc"].unique()):
    indic_coec.append(
        np.sum(trace_df_merge[trace_df_merge["id_labdoc"] == id]["id_user"].diff() != 0)-1)

df["indice_coec"] = indic_coec

In [15]:
# J'ai remarquer une anomalie sur certains labdoc. Il on un score de coécriture 0 et des indice de collaboration contribution non nulles. Je supprime ces labdocs 
df.drop(df[df["indice_coec"] == 0].index, axis=0, inplace=True)

#Renomer les colonnes
df.set_axis(['id_labdoc', 'n_users', 'n_mots', "collab", "equi_contrib", 'n_modif', 'duree', "pass_main"], axis=1, inplace =True)

#df.set_axis(['V', 'W', 'X', 'Y', 'Z'], axis=1, inplace=False)

In [16]:
df.to_excel(
    "/Users/anis/test_labnbook/test_3_indicateurs/comparaison/data.xlsx")
df.to_csv(
    "/Users/anis/test_labnbook/test_3_indicateurs/comparaison/data.csv")

In [17]:
df.columns

Index(['id_labdoc', 'n_users', 'n_mots', 'collab', 'equi_contrib', 'n_modif', 'duree', 'pass_main'], dtype='object')

In [10]:
trace = pd.read_sql(
    " SELECT id_labdoc,id_user, action_time from trace WHERE  id_action=9 Order By id_labdoc ASC, action_time ASC", conn)

/var/folders/qz/t1vzp79913l2sfbf0b3d9sdr0000gn/T/ipykernel_35635/899833016.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  trace = pd.read_sql(

In [11]:
trace

         id_labdoc  id_user         action_time
0              311        2 2018-12-06 16:48:31
1              311        2 2018-12-06 16:48:51
2              311        2 2018-12-06 16:49:11
3              311        2 2018-12-06 16:50:11
4              311        2 2018-12-06 16:50:31
...            ...      ...                 ...
4868733     491781    11801 2021-09-08 20:08:04
4868734     491781    11801 2021-09-08 20:08:34
4868735     491781    11801 2021-09-08 20:09:04
4868736     491781    11801 2021-09-08 20:09:34
4868737     491781    11801 2021-09-08 20:10:04

[4868738 rows x 3 columns]

In [19]:
df = trace[trace["id_labdoc"] == 453634]
df

         id_labdoc  id_user         action_time
4477710     453634    10460 2021-03-29 08:28:15
4477711     453634    10460 2021-03-29 08:28:45
4477712     453634    10460 2021-03-29 08:29:15
4477713     453634    10460 2021-03-29 08:29:45
4477714     453634    10460 2021-03-29 08:30:15
4477715     453634    10460 2021-03-29 08:30:45
4477716     453634    10460 2021-03-29 08:31:15
4477717     453634    10460 2021-03-29 08:31:45
4477718     453634    10460 2021-03-29 08:32:15
4477719     453634    10460 2021-03-29 08:32:45
4477720     453634    10460 2021-03-29 08:33:16
4477721     453634    10460 2021-03-29 08:33:45
4477722     453634    10460 2021-03-29 08:35:15
4477723     453634    10460 2021-03-29 08:35:45
4477724     453634    10460 2021-03-29 08:36:15
4477725     453634    10460 2021-03-29 08:37:33
4477726     453634    10460 2021-03-29 08:39:45
4477727     453634    10460 2021-03-29 08:40:15
4477728     453634    10460 2021-03-29 08:40:45
4477729     453634    10460 2021-03-29 08:41:15
4477730     453634    10460 2021-03-29 08:41:45
4477731     453634    10460 2021-03-29 08:42:15
4477732     453634    10460 2021-03-29 08:42:45
4477733     453634    10460 2021-03-29 08:43:15
4477734     453634    10460 2021-03-29 08:43:46
4477735     453634    10460 2021-03-29 08:43:54
4477736     453634    10446 2021-03-29 08:55:36
4477737     453634    10446 2021-03-29 08:56:04
4477738     453634    10446 2021-03-29 08:59:29
4477739     453634    10446 2021-03-29 08:59:59
4477740     453634    10446 2021-03-29 09:00:29
4477741     453634    10446 2021-03-29 09:00:59
4477742     453634    10446 2021-03-29 09:01:29
4477743     453634    10446 2021-03-29 09:01:59
4477744     453634    10446 2021-03-29 09:02:29
4477745     453634    10446 2021-03-29 09:02:59
4477746     453634    10446 2021-03-29 09:03:29
4477747     453634    10446 2021-03-29 09:04:25
4477748     453634    10446 2021-03-29 09:05:29
4477749     453634    10446 2021-03-29 09:05:59
4477750     453634    10446 2021-03-29 09:06:29
4477751     453634    10446 2021-03-29 09:06:59
4477752     453634    10446 2021-03-29 09:07:29
4477753     453634    10446 2021-03-29 09:07:59
4477754     453634    10446 2021-03-29 09:10:29
4477755     453634    10446 2021-03-29 09:10:59
4477756     453634    10446 2021-03-29 09:11:29
4477757     453634    10446 2021-03-29 09:11:59
4477758     453634    10446 2021-03-29 09:12:29
4477759     453634    10446 2021-03-29 09:12:59
4477760     453634    10446 2021-03-29 09:13:45
4477761     453634    10446 2021-03-29 09:14:15
4477762     453634    10446 2021-03-29 09:14:17
4477763     453634    10446 2021-03-29 09:16:15
4477764     453634    10446 2021-03-29 09:17:33
4477765     453634    10449 2021-03-30 19:28:00
4477766     453634    10449 2021-03-30 19:28:30
4477767     453634    10449 2021-03-30 19:29:00
4477768     453634    10449 2021-03-30 19:29:30
4477769     453634    10449 2021-03-30 19:30:00
4477770     453634    10449 2021-03-30 19:30:30
4477771     453634    10449 2021-03-30 19:31:00
4477772     453634    10449 2021-03-30 19:32:43
4477773     453634    10449 2021-03-30 19:36:00
4477774     453634    10449 2021-03-30 19:36:14
4477775     453634    10449 2021-03-30 19:37:46
4477776     453634    10449 2021-03-30 19:38:16
4477777     453634    10449 2021-03-30 19:38:46
4477778     453634    10449 2021-03-30 19:39:16
4477779     453634    10449 2021-03-30 19:39:46
4477780     453634    10449 2021-03-30 19:40:16
4477781     453634    10449 2021-03-30 19:40:46
4477782     453634    10449 2021-03-30 19:41:16
4477783     453634    10449 2021-03-30 19:41:46
4477784     453634    10449 2021-03-30 19:42:16
4477785     453634    10449 2021-03-30 19:42:32
4477786     453634    10449 2021-03-31 19:14:39
4477787     453634    10449 2021-03-31 19:15:09
4477788     453634    10449 2021-03-31 19:15:39
4477789     453634    10449 2021-03-31 19:16:09
4477790     453634    10449 2021-03-31 19:16:39
4477791     453634    10449 2021-03-31 19:17:09
4477792     453634    10449 2021-03-31 19:17:39
4477793     453634    10449 2021-03-31 19:18:09
4477794     453634    10449 2021-03-31 19:18:39
4477795     453634    10449 2021-03-31 19:19:09
4477796     453634    10449 2021-03-31 19:23:20
4477797     453634    10449 2021-03-31 19:51:38
4477798     453634    10449 2021-03-31 19:52:38
4477799     453634    10449 2021-03-31 19:53:08
4477800     453634    10449 2021-03-31 19:53:38
4477801     453634    10449 2021-03-31 19:54:08
4477802     453634    10449 2021-03-31 19:54:38
4477803     453634    10449 2021-03-31 19:55:08
4477804     453634    10449 2021-03-31 19:55:38
4477805     453634    10449 2021-03-31 19:56:38
4477806     453634    10449 2021-03-31 19:57:08
4477807     453634    10449 2021-03-31 19:57:38
4477808     453634    10449 2021-03-31 19:57:40
4477809     453634    10449 2021-03-31 19:58:38
4477810     453634    10449 2021-03-31 19:59:08
4477811     453634    10449 2021-03-31 20:20:21
4477812     453634    10449 2021-04-01 15:26:16
4477813     453634    10449 2021-04-01 15:26:46
4477814     453634    10449 2021-04-01 15:29:16
4477815     453634    10449 2021-04-01 15:29:39
4477816     453634    10449 2021-04-01 19:59:26
4477817     453634    10449 2021-04-03 12:44:43
4477818     453634    10449 2021-04-03 12:45:13
4477819     453634    10449 2021-04-03 12:45:43
4477820     453634    10449 2021-04-03 12:46:13
4477821     453634    10449 2021-04-03 12:46:43
4477822     453634    10449 2021-04-03 12:47:13
4477823     453634    10449 2021-04-03 12:47:43
4477824     453634    10449 2021-04-03 12:48:13
4477825     453634    10449 2021-04-03 12:48:43
4477826     453634    10449 2021-04-03 12:49:13
4477827     453634    10449 2021-04-03 12:49:43
4477828     453634    10449 2021-04-03 12:50:13
4477829     453634    10449 2021-04-03 12:50:43
4477830     453634    10449 2021-04-03 12:51:13
4477831     453634    10449 2021-04-03 12:51:43
4477832     453634    10449 2021-04-03 12:52:13
4477833     453634    10449 2021-04-03 12:52:43
4477834     453634    10449 2021-04-03 12:53:13
4477835     453634    10449 2021-04-03 12:53:24
4477836     453634    10460 2021-04-04 14:41:53
4477837     453634    10460 2021-04-04 14:42:23
4477838     453634    10460 2021-04-04 14:42:53
4477839     453634    10460 2021-04-04 14:43:23
4477840     453634    10460 2021-04-04 14:53:47
4477841     453634    10460 2021-04-04 15:15:28
4477842     453634    10460 2021-04-04 15:15:58
4477843     453634    10460 2021-04-04 15:16:08
4477844     453634    10449 2021-04-04 15:35:44
4477845     453634    10449 2021-04-04 15:36:44
4477846     453634    10449 2021-04-04 15:37:18
4477847     453634    10449 2021-04-04 15:38:14
4477848     453634    10449 2021-04-04 15:38:53
4477849     453634    10449 2021-04-04 15:46:18
4477850     453634    10455 2021-04-04 16:23:56
4477851     453634    10455 2021-04-04 16:24:26
4477852     453634    10455 2021-04-04 16:24:56
4477853     453634    10455 2021-04-04 16:25:26
4477854     453634    10455 2021-04-04 16:25:56
4477855     453634    10455 2021-04-04 16:26:32
4477856     453634    10455 2021-04-04 16:28:26
4477857     453634    10455 2021-04-04 16:28:56
4477858     453634    10455 2021-04-04 16:29:26
4477859     453634    10455 2021-04-04 16:31:56
4477860     453634    10455 2021-04-04 16:32:26
4477861     453634    10455 2021-04-04 16:34:26
4477862     453634    10455 2021-04-04 16:35:07
4477863     453634    10449 2021-04-04 16:37:36
4477864     453634    10449 2021-04-04 16:38:06
4477865     453634    10449 2021-04-04 16:38:36
4477866     453634    10449 2021-04-04 16:38:44
4477867     453634    10449 2021-04-04 16:39:06
4477868     453634    10449 2021-04-04 16:39:12
4477869     453634    10449 2021-04-04 16:40:15
4477870     453634    10449 2021-04-04 16:40:45
4477871     453634    10449 2021-04-04 16:41:17
4477872     453634    10449 2021-04-04 16:41:29
4477873     453634    10449 2021-04-04 17:56:09
4477874     453634    10449 2021-04-04 17:56:36

In [23]:
df.groupby(df.id_user,  as_index=False).size()

   id_user  size
0    10446    29
1    10449    89
2    10455    13
3    10460    34